body {
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: inherit;
}


.btn-custom {
  font-size: 17px !important;
  padding: 17px 21px !important;
}

.btn-cta {
  background-color: #FD3C84 !important;
  color: white;
  transition: box-shadow ease-in .03s !important;
  box-shadow: 1px 12px 30px rgba(253, 60, 132, .7);
}

.btn-cta:hover {
  color: white !important;
  box-shadow: 1px 3px 6px rgba(253, 60, 132, .5) !important;
}